/* Ini akan mengubah warna latar belakang seluruh halaman */
body {
    background-color: #f0f0f0; /* Abu-abu muda */
    font-family: sans-serif;  /* Mengganti jenis font */
}

/* Ini akan mengubah warna teks heading */
h1 {
    color: #007bff; /* Biru */
}